.nav {
    background-color: #1A1C1F;
    position: fixed;
    width: 67px;
    height: 100vh;

    a {
        color: white;
        display: block;
        margin: 30px 5px;
        text-decoration: none;
    }
}